{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/spacelab/bootstrap.css"
    />
    <br>
  </head>
  <body>
    <img src="/static/images/Screenshot_2024-02-11_024348_qtDuytR.png" alt="profile picture" style="width: 100px; height: 100px; border-radius: 50%;">
    <div class="container">{% block content %} {% endblock %}</div>
  </body>
</html>
