{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %} 

{% block content %}
{% if update == True %} 
  <h2><b> Update Task </h2>
{% else %}
  <h2><b> Create Task </h2>
{% endif %}
<br/>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %} 
  {{ form|crispy }}
  {{ formset.management_form }}
  {{ formset|crispy }}

  {% for p in formset %}
    {% comment %} {{ p.as_p }} {% endcomment %}
    {% if p.instance.image %}
      <p> Image: {{p.instance.image}}</p>
      <img src="{{ p.instance.image.url }}" alt="Task Image" width="500" height="500">
      <br/>
    {% endif %}
  
  {% endfor %}
  <br/>
  <br/>
  <div class="text-center">
    {% if update == True %} 
      {% if update == True %}
        <button type="submit" class="btn btn-primary">Update Task</button>
        {% comment %} <button type="submit" class="btn btn-primary" <a href="{% url 'delete-task' id %}" class="btn btn-danger"></a> >Delete Task</button> {% endcomment %}
        <a href="{% url 'delete-task' id %}" class="btn btn-danger">Delete Task</a>
      {% else %}
        <button type="submit" class="btn btn-primary">Create Task</button>
      {% endif %}
    {% else %}
      <button type="submit" class="btn btn-primary">Create Task</button>
    {% endif %}
  </div>
</form>
{% endblock %}