{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto"> 
            <h2>Register</h2>
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form|crispy }}
                <br />
                <button type="submit" class="btn btn-primary">Register</button> 
                <br><br><p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
            </form>
        </div>
    </div>
    <br />
</div>
{% endblock %}